.card {
  height: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px 0 #e8e8e8;
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #e8e8e8;
}

.card__text {
  padding: 24px;
}

.card__link {
  display: flex;
  align-items: center;
  color: #444444;
  font-weight: bold;
  text-decoration: none;
}

.card__link .fab {
  margin-right: 8px;
}

.card__img-container {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.card__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.siteIcon {
  padding: 0 8px 0 0;
}
