.card {
  display: grid;
  align-items: center;
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 8px 6px -6px #e8e8e8;
  border-radius: 5px;
}

.card__link {
  color: #444444;
  font-weight: bold;
  text-decoration: none;
}

.card__link:hover {
  text-decoration: underline;
}
