.content {
  padding: 40px 58px 40px 40px;
  background-color: #fff;
  margin: -60px 24px 24px;
  border-radius: 4px;
  height: calc(150vh - 173px);
}

.readMore {
  display: block;
  text-align: center;
  margin-top: 48px;
}

.title {
  font-size: 32px;
  margin: 0;
  letter-spacing: -1.8px;
}

.content p {
  line-height: 1.5;
}

.content a {
  color: #ce40b4;
  font-weight: bold;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.arrow {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .content {
    margin: -60px 12px 24px;
    padding: 40px 50px 40px 40px;
  }
}
