.getInTouch {
  text-align: center;
  padding: 40px;
  background-color: #d458bd;
  height: calc(100vh);
}

.getInTouch__title {
  padding: 40px 40px 12px;
  color: white;
}

.social {
  display: inline-block;
  padding: 10px;
  margin: 0 auto 24px;
}
