.getInTouch {
  padding: 40px;
  background-color: #d458bd;
}

.getInTouch__title {
  padding: 40px;
  color: white;
  font-size: 32px;
  margin: 0;
  text-align: center;
}

.social {
  margin: auto;
  width: 50%;
  padding: 10px;
}
