.getInTouch {
  text-align: left;
  padding: 40px;
  background-color: #d458bd;
  height: calc(100vh);
}

.getInTouch__title {
  padding: 40px 40px 40px 20px;
  color: white;
  font-size: 32px;
  margin: 0;
  text-align: left;
}

.social {
  text-align: left;

  width: 50%;
  padding: 10px;
}
