.skills {
  background-color: #fff;
}

.skills__title {
  font-size: 32px;
  margin: 0;
  text-align: center;
  padding: 40px;
}

.skills p {
  text-align: center;
  line-height: 1.5;
  padding: 24px 60px;
}

.skills__chart {
  text-align: center;
  padding: 64px;
}

.skills__chart svg {
  width: 100%;
  height: 85vh;
}
