.App {
  text-align: center;
}

footer {
  background-color: #333333;
  color: white;
}

.About {
  text-align: left;
  padding: 40px;
  margin: 0 20px 0 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ce40b4;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}
