.link {
  display: block;
  padding: 0 12px;
  text-decoration: none;
}

.girl {
  display: block;
  font-size: 64px;
  margin-bottom: -19px;
}

.fab {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s color ease-in-out;
}

.fab:hover {
  color: rgba(255, 255, 255, 1);
}

.fas {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s color ease-in-out;
  padding: 0 12px;
}

.fas:hover {
  color: rgba(255, 255, 255, 1);
}
